body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4defe;
}
.container{
    background-color: white;
    width:700px;
    height: 1000px;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    flex-wrap:inherit;
}
.container2{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 54%;
}
.container3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 61%;
}
.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-right: 53%;
}
.container5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:80px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 50px;
    border-color:  #cccccc;
    border-radius: 10px;
    margin-top: 8px;
}

.second{
    display: flex;
    color: #666666;

}
.box{
    width: 20px;
    height: 20px;
}
.box1{
    color: #666666;
}


input[type="checkbox"].toggle{
    position: absolute;
    display: none;
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2.5em ;
    height: 1.3em;
    background-color: #ddd;
    border-radius: 1em;
    margin-right: 14px;
}
input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: .1em;
    content: "";
    width: 1em ;
    height: 1em;
    background-color: white;
    border-radius: 1em;

}

input[type="checkbox"].toggle:checked + label::after {
    left: 1.4em;
    background-color:black;


}

input[type="checkbox"].toggle:checked + label {
    color: blue;
}


.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 71%;
    flex-direction:row;
    gap: 180px;
    
}

.cancel{
    width:172px;
    height:56px;
    border-color: #7A5CFA;
    border-radius: 10px;
    color:#7A5CFA;
    background-color: white;

    
}
.cancel:hover{
    transition: all;
}
.next{
    width:172px;
    height: 56px;
    background-color: #7A5CFA;
    color: white;
    border-color: #7A5CFA;
    border-radius: 10px;
}


select{
    width:520px;
    height: 50px;
    border-radius: 10px;
    border-color:  #7A5CFA;
    color: black;
    margin-left: 36%;

}
.seven{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #666666;
    margin-right: 60px;
}
